.crosshairs {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: transparent;
    fill: transparent;
    stroke: #000;
    fill-opacity: 0;
    stroke-opacity: 0.2;
}

.crosshairs > circle {
    cursor: grab;
}

.crosshairs > circle:active {
    cursor: grabbing;
}